@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");

:root {
  --primary: #ecd4c0;
  --primary-hover: #e0c5b1;
  --primary-dark: #d9bba5;
  --primary-extra-dark: #bb9077;
  --primary-light: #f8ebdf;
  --white: #f6e6d765;
  --border-color: #442b1c;

  font-family: monospace, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-card--center{
  left: 50%;
  transform: translateX(-50%);
}
.block-card--wide{
  min-width: 90%;
}
.block-card {
  margin: 1rem 0;
  min-height: 18rem;
  max-width: 45rem;
  display: flex;
  background-color: #f8ebdf;
  border: 1px solid #ecd4c0;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: default;
  transition: 0.2s background-color, 0.2s border-color;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(19, 17, 18, 0.2);
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.block-card__stats {
  padding: 0.5rem;
  width: 100%;
}
.block-card__title {
  font-size: 1.6rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #44372f;
}
.block-card__description {
  color: #44372f;
  height: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-family: "Nunito", sans-serif;
  color: #44372f;
}
.block-card__description::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16ch;
  height: 1.5em;
  background-image: linear-gradient(
    to right,
    rgba(248, 235, 223, 0),
    #f8ebdf 70%
  );
  transition: 0.2s all;
}
.block-card__purchase {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: end;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
.block-card__button {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}
.block-card__image {
  height: 18rem;
  width: 18rem;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block-card__image:not([src]){
  visibility: hidden;
}
.block-card:hover {
  background-color: #f6e6d7;
  border-color: #e3bfa1;
}
.block-card:hover .block-card__description::after {
  filter: brightness(0.98);
}

.button {
  border-radius: 0.3rem;
  border: none;
  outline-color: #44372f;
  background-color: #ecd4c0;
  padding: 0.5rem;
  font-size: 1.1rem;
  transition: 0.2s all;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(19, 17, 18, 0.2);
  text-align: center;
}
.button:hover {
  background-color: #e6c7ac;
}
.button--no-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.button--bordered {
  outline-width: 1px;
  outline-style: solid;
  outline-color: #44372f;
  background: none;
}
.button--bordered:hover {
  background-color: #e7c9b0;
  outline: none;
}
.button--bordered-wide {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #44372f;
  background: none;
}
.button--bordered-wide:hover {
  background-color: #e7c9b0;
  outline: none;
}
.button--monochrome-bordered {
  outline-width: 1px;
  outline-style: solid;
  color: #faf9f9;
  outline-color: #faf9f9;
  background: none;
}
.button--monochrome-bordered:hover {
  outline: none;
  background-color: #faf9f9;
  color: #131112;
}
.button--dark {
  background-color: #deb491;
}
.button--dark:hover {
  background-color: #d49f72;
}
.button--light {
  background-color: #f8ebdf;
}
.button--light:hover {
  background-color: #f4e1ce;
}

.main--auth {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__form {
  background-color: var(--primary);
  border: 1px solid #d9bba5;
  border-radius: 4px;
  padding: 1rem;
  scale: 1.3;

  & h1 {
    text-align: center;
  }
  & button {
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
    padding: 0.3rem 0.5rem;
    background-color: var(--primary-dark);
    margin-top: 1rem;
    transition: 0.2s all;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-extra-dark);
    }
  }
}
.auth__field {
  & label {
    margin-top: 1rem;
    display: block;
    font-size: 1.3rem;
  }
  & input {
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
  }
}
.console__header {
  width: 100vw;
  height: 6rem;
  background-color: var(--primary-extra-dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  padding: 0 1rem;
}

.console-container {
  width: 100vw;
  height: calc(100vh - 6rem);
  overflow: hidden;
  background-color: var(--primary-light);
  display: flex;
}
.console__sidebar {
  display: grid;
  grid-template-columns: 12rem;
  grid-auto-rows: 1fr;
  border: 3px solid var(--primary-dark);
}

.sidebar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  line-height: 2.6rem;
  background-color: var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;

  &:not(.sidebar__item--selected):hover {
    background-color: var(--primary-hover);
  }
}
.sidebar__item--selected {
  background-color: var(--primary-dark);
}
.console {
  background-color: #f9f1ea;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.console__item {
  display: grid;
  height: fit-content;
  grid-template-columns: 18rem 3fr 0fr;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  background-color: var(--white);
}
.item__field:not(:first-child) {
  margin-top: 0.5rem;
}
.item__info {
  font-size: 1.3rem;
  color: rgb(22, 22, 22);
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-word;
}
.item__message {
  color: rgb(63, 63, 63);
}
.item__span {
  color: rgb(37, 37, 37);
}
.left-vertical-hr {
  padding-right: 1rem;
}
.item__actions {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  & .item__delete {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: rgb(207, 1, 1);
    }
  }
}
.actions__item {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
@media (max-width: 1000px) {
  .console-container {
    flex-direction: column;
  }
  .console__sidebar {
    display: flex;
  }
  .sidebar__item {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .console__item {
    display: flex;
    flex-direction: column;
  }
  .left-vertical-hr {
    border: none;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .item__actions {
    flex-direction: row;
  }
  .console__header {
    gap: 2rem;
  }
}
.console{
  display: none;
}

.upload {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-light);
  padding: 1rem 2rem;
  max-width: calc(100% - 4rem);
  label {
    display: block;
    font-size: 1.3rem;
  }
  .upload__label--secondary{
    font-size: 1.2rem;
    display: inline-block;
  }
}
.upload__title {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.upload__field-container {
  margin-bottom: 1rem;
}
#upload--title {
  font-size: 1.3rem;
  width: 100%;
}
#upload--description {
  font-size: 1.1rem;
  width: 100%;
  resize: vertical;
}
#upload--price {
  font-size: 1rem;
  width: 8ch;
}
#upload--file {
  display: none;
}

.upload__range{
  accent-color: var(--primary-extra-dark);
  width: 100%;
  -webkit-user-drag: none;
}
.upload__image-label {
  overflow: hidden;
  background-color: var(--primary);
  min-width: 18rem;
  min-height: 18rem;
  position: relative;
}
.upload__file--button {
  display: inline-block;
  background-color: var(--primary-dark);
  width: max-content;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #d5ad91;
  }

  & i {
    display: inline-block;
    transform: translateY(1px);
  }
}
.upload__submit {
  background-color: var(--primary-dark);
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #d5ad91;
  }
}

.products-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.product__delete{
  cursor: pointer;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 2rem;
  transition: 0.2s;
  &:hover{
    color: rgb(204, 0, 0);
  }
}
.product__container{
  list-style: none;
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  background-color: #f6e6d765;
}

.product-orders__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.product-orders__column{
  display: inline-block;
  margin-right: 1rem;
}
.product-orders__list-item{
  position: relative;
  background-color: #f6e6d741;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem; 
  width: 100%
}
.product-orders__data{
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.product-orders__field-value{
  color: #363636;
}
.inner-product__list{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.inner-product__image{
  height: 14rem;
  width: 14rem;
  background-color: #d49f72;
}
.inner-product__title{
  font-weight: 600;
  font-size: 1.4rem;
}
.inner-product__price{
  font-size: 1.2rem;
}
.inner-product__list-title{
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}
.inner-product__list-item{
  background-color: #f4e1ce;
  border-radius: 0.4rem;
  overflow: hidden;
}