.card{
  position: relative;
  width: $card-width;
  height: $card-height;
  overflow: hidden;
  border-radius: $normal-radius;
  box-shadow: $light-shadow;
  background-color: $white;

  &>*:not(#{&__image}){
    z-index: 1;
  }
  &__image{
    @include full-size-absolute;
    

  }
}