.card{
  position: relative;
  width: $card-width;
  height: $card-height;
  overflow: hidden;
  border-radius: $normal-radius;
  box-shadow: $light-shadow;
  background-color: $white;

  @include level-up;

  &__title{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    background-color: rgba($black, 0.6);
    color: $white;
  }
  &__image{
    @include full-size-absolute;
    z-index: 0;

  }
}