// COLORS
$black: #131112;
$white: #FAF9F9;
$gray: #807a7d;
$light-gray: #d9ced3;


$primary: #eeddcd;
$primary-extra-light: #f9f2ed;
$primary-light: #F8EDE3;
$primary-dark: #D0B8A8;
$primary-extra-dark: #8b644d;
$primary-accent: #44372f;
$primary-accent-light: $primary-light;

// LAYOUT
$normal-radius: 5px;
$light-radius: 2px;
$medium-radius: 0.5rem;
$strong-radius: 1rem;

$card-width: 16rem;
$card-height: 21.3rem;

$normal-margin: 1rem;
$small-margin: 0.5rem;
$medium-margin: 1rem;
$large-margin: 2rem;

// OTHER
$light-shadow: 0.1rem 0.1rem 0.2rem rgba($black, 0.2);
$medium-shadow: 0.2rem 0.2rem 0.4rem rgba($black, 0.2);
$strong-shadow: 0.25rem 0.25rem 0.4rem rgba($black, 0.4);